/* Basic styling */
@font-face {
	font-family: 'r6s';
	src: url('fonts/ScoutCond-Black.eot');
	src: local('☺'), url('fonts/ScoutCond-Black.woff') format('woff'), url('fonts/ScoutCond-Black.ttf') format('truetype'), url('fonts/ScoutCond-Black.svg') format('svg');
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	text-align: center;
	line-height:100px;
}


* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

#downloadmenu {
  font-family: "Segoe UI", sans-serif;
  background: #000000;
  color: #FFF;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */
body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar {
  font-family: 'ambleregular';
  padding: 6px;
	font-weight: bold;
	font-style: normal;
	font-size: 2px;
	text-align: center;
  line-height:100px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar {
  color: #FFF;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 13px;
}

.maximized #window-title {
  margin-left: 8px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

.season-container {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
}
.season {
  width: 150px;
  text-align:center;
}

.seasonbutton {
  margin: auto;
  transition:transform 300ms, border 500ms, border-radius 300ms;
  border-color: rgba(0, 255, 0, 255);
  width: 75px;
  height: 64px;
  transform:scale(1);
}

.seasonbutton:active{
  transform:scale(2)
}

.seasoninfo {
  margin:auto;
  width: 120px;
  color: rgba(0, 0, 0, 0);
  transition: color 400ms, background-color 400ms;
  background-color: transparent;
  text-align: center;
  border-radius: 20px;
  position: relative;
  top: 10px;
  font-family: Consolas
}

.season:hover .seasoninfo{
  color: green;
  background-color: transparent;
}

.season:active .seasonbutton {
  transform:scale(1.5);
}

.season:hover .seasonbutton{
  transform:scale(1.3);
  padding: 1px;
}



.credentials {
  width: 115px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  /* background: rgb(76,255,0);
  background: linear-gradient(90deg, rgba(76,255,0,1) 0%, rgba(0,212,255,1) 100%); */
  background: rgb(22, 22, 22);
  transition: width 800ms;
  outline: none;
  color: green;
  border: 1.5px inset green;
  font-family: "Consolas";
  font-weight: 400;
}

.credentials:not(:placeholder-shown){
  width: 160px;
}

.credentials:hover {
  width: 160px;
}

::placeholder {
  color:green;
  font-weight: 400;
  font-family: "Consolas";
}

.downloadbutton {
  color: green;
  position: fixed;
  bottom: 10px;
  right: 1%;
  text-align: center;
  background-color: black;
  padding: 5px;
  font-size: 20px;
  font-family: Consolas;
  font-weight: bolder;
  border-radius: 20px;
  transition: padding 500ms, width 200ms, background-color 300ms, color 300ms, border 300ms, font-size 300ms;
  outline: none;
  width: 50%;
  margin:0 auto;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  display:block;
  border: 2px solid green;
  font-stretch: ultra-expanded;
  font-size: 31px;
}

.downloadbutton:hover {
  padding: 10px;
  font-size: 35px;
  text-decoration: none;
  color: black;
  background-color: green;
  width: 98%;
}

.downloadbutton:focus {
  outline: none;
  background-color: greenyellow;
  width: 100%;
  border: 2px solid greenyellow;
  }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: green; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 184, 0); 
  border-radius: 10px;
}

.season .seasontooltip {
  opacity: 0;
  transition: opacity 600ms;
  width: 200px;
  background-color: black;
  color: #39ff14;
  font-family: Consolas;
  border: 2px solid green;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.season .seasontooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -28px;
  border: 10px solid #39ff14;
  border-color: transparent #39ff14 transparent transparent;
}
.season:hover .seasontooltip {
  opacity: 1;
}

.customseason {
  font-family: 'Consolas';
  border: 1.5px inset green;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: green;
  border-radius: 20px;
  padding: 12px 20px;
  transition: background-color 200ms, color 200ms, padding 200ms, width 400ms;
  width: 260px;
  float:right;
  bottom: 57.5px;
  position: relative;
  background: rgb(22, 22, 22);
}
.customseason:hover{
  color: black;
  text-decoration: none;
  background-color: green;
  padding: 12px 20px;
  width: 300px;
}

.addseason {
  width: 250px;
  height: 200px;
  border: 3px solid green;
  position: relative;
  left: 720px;
  bottom: 523px;
  border-radius: 20px;
  z-index: -1;
}

.addseasonbutton {
  position: relative;
  top: 250px;
  margin: 0 auto;
  background-color: green;
}

.customseasons{
  font-family: Consolas;
  color: green;
  font-weight: 1000;
  font-size: 50px;
  text-align: center;
  top: 50px;
  position: relative;
  border: 2px solid green;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;

}

.manifestid{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  /* background: rgb(76,255,0);
  background: linear-gradient(90deg, rgba(76,255,0,1) 0%, rgba(0,212,255,1) 100%); */
  background: rgb(22, 22, 22);
  transition: width 800ms;
  outline: none;
  color: green;
  border: 1.5px inset green;
  font-family: "Consolas";
  font-weight: 400;
  position: relative; 
  width: 260px;
  float:right;
  bottom: 66.5px;
}

.manifestid:not(:placeholder-shown){
  width: 300px;
}

.manifestid:hover {
  width: 300px;
}

.credentialsform {
  display: block;
  border: 2px outset green;
  border-radius: 25px;
  padding: 15px;
  width: 500px;
  position: relative;
  top: 0px;
  height: 167.5px;
}